:root {
	--background: #242424;
	--side: #4d4d4d;
	--card: #2E2E2E;
	--ptext: #f5f5f5;
	--stext: #b0b0b0;
	--acolor: #10B38D;
	--ahover: #15967a;
	--logo: #10B38D;
	--success: #a3be8c;
	--warning: #d0be70;
	--error: #bf616a;
	--divider: #3b3b3b;
	--intextbg: #2a2a2a;
	--intext: #e0e0e0;
}

.logo {
	color: var(--logo);
	fill: var(--logo)
}

body {
	background-color: var(--background);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	margin: 0px;
	margin-right: 20px;
	padding: 0px;
}

a {
	text-decoration: none;
}

.sidebar {
	width: 200px;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: var(--side);
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sidebar .logo {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.sidebar .selected {
	background-color: var(--background);
	display: flex;
}

.sidebar .selected h3 {
	color: var(--ptext);
	font-weight: bold;
}

.sidebar .selected-bar {
	background-color: var(--acolor);
	width: 3px;
	height: 44.67px;
	margin-right: 4px;
}

.sidebar .selected svg {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 6px;
}

.sidebar h3 {
	margin: 0px;
	padding: 10px;
	color: var(--ptext);
	font-weight: 400;
}

.sidebar .unselected {
	background-color: var(--side);
	display: flex;
}

.sidebar .unselected svg {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 6px;
}


.sidebar .unselected-bar {
	background-color: var(--side);
	width: 3px;
	height: 44.67px;
	margin-right: 4px;
}

.setting-button {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 20px;
	left: 0px;
	background-color: var(--side);

}

.sidebar button {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	background-color: var(--acolor);
	color: var(--background);
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 18px;
	user-select: none;

	display: flex;
	justify-content: center;
}

.sidebar button:hover {
	transition: all 0.2s ease-in-out;
	background-color: var(--ahover);
}

.sidebar button svg {
	fill: var(--background);
	width: 18px;
	height: 18px;
	margin-right: 5px;
}


.main {
	margin-left: 220px;
}

.main h1{
	color: var(--ptext);
}

.main h1 svg {
	fill: var(--ptext);
	cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
}

.main p {
	color: var(--stext)
}

.main button {
	background-color: var(--acolor);
	color: var(--background);
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;

	width: 100px; 
	height: 30px;

	user-select: none;
}

.main button:hover {
	transition: all 0.2s ease-in-out;
	background-color: var(--ahover);
}