:root {
	--background: #242424;
	--side: #4d4d4d;
	--card: #2E2E2E;
	--ptext: #f5f5f5;
	--stext: #b0b0b0;
	--acolor: #10B38D;
	--ahover: #15967a;
	--logo: #10B38D;
	--success: #d0be70;
	--warning: #d08770;
	--error: #bf616a;
	--divider: #3b3b3b;
	--intextbg: #2a2a2a;
	--intext: #e0e0e0;
}

.idea-space {
	width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 408px 408px;
    grid-template-rows: calc(100vh - 100px);
    row-gap: 10px;
    column-gap: 10px;
}

.idea-space > div {
	background-color: var(--card);
    color: #000;
    padding: 10px;
    border-radius: 10px;

    height: auto;
    overflow: hidden; 
    overflow-y: scroll;
}

.idea-space > div > h3 {
    margin: 0px;
    color: var(--ptext);
    font-size: 18px;
    user-select: none;
}

.ideas {
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.notes { 
	width: 100%;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}