:root {
	--background: #242424;
	--side: #4d4d4d;
	--card: #2E2E2E;
	--ptext: #f5f5f5;
	--stext: #b0b0b0;
	--acolor: #10B38D;
	--ahover: #15967a;
	--logo: #10B38D;
	--success: #a3be8c;
	--warning: #d08770;
	--error: #bf616a;
	--divider: #3b3b3b;
	--intextbg: #2a2a2a;
	--intext: #e0e0e0;
}
