:root {
	--background: #242424;
	--side: #4d4d4d;
	--card: #2E2E2E;
	--ptext: #f5f5f5;
	--stext: #b0b0b0;
	--acolor: #1fbf9a;
	--ahover: #15967a;
	--success: #a3be8c;
	--warning: #d08770;
	--error: #bf616a;
	--divider: #3b3b3b;
	--intextbg: #2a2a2a;
	--intext: #e0e0e0;
}


.project-item {
	display: flex;
	align-items: center;

	background-color: var(--card);
	color: var(--ptext);
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	width: 96%; 
	height: 40px;

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;

	box-shadow: 3px 3px 2px black
}

.project-item:hover {
	box-shadow: 5px 5px 5px black
}

.project-item svg {
	margin-right: 10px;
}

.project-item h3 {
	user-select: none;
	font-weight: 400;
	font-size: 20px;
	margin:  0px;
}