:root {
	--background: #242424;
	--side: #4d4d4d;
	--card: #2E2E2E;
	--ptext: #f5f5f5;
	--stext: #b0b0b0;
	--acolor: #10B38D;
	--ahover: #15967a;
	--success: #a3be8c;
	--warning: #d0be70;
	--error: #bf616a;
	--divider: #3b3b3b;
	--intextbg: #2a2a2a;
	--intext: #e0e0e0;
}

.active-notes-button {
    background-color: var(--side) !important;
    color: var(--ptext) !important;
    border-radius: 5px;
    border: var(--divider) solid 1.5px;
    padding: 5px;
    margin: 0px;
}

.notes-display {
    resize: none;
    width: 100%;
    min-height: 70vh;
    height: 70vh;
    margin-top: 20px;
    padding: 0px;
}

.notes-display textarea {
    width: 98%;
    max-width: 98%;
    min-width: 98%;
    height: 100%;
    background-color: var(--intextbg);
    color: var(--intext);
    border-radius: 5px;
    border: var(--divider) solid 1.5px;
    padding: 5px;
    margin: 0px;
}

.notes-display textarea:focus {
    outline: none;
    border: var(--acolor) solid 1.5px;
}