:root {
	--background: #242424;
	--side: #4d4d4d;
	--card: #2E2E2E;
	--ptext: #f5f5f5;
	--stext: #b0b0b0;
	--acolor: #10B38D;
	--ahover: #15967a;
	--success: #a3be8c;
	--warning: #d0be70;
	--error: #bf616a;
    --errorhover: #a3545c;
	--divider: #3b3b3b;
	--intextbg: #2a2a2a;
	--intext: #e0e0e0;
}

::-webkit-scrollbar {
    width: 12px; /* For vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); /* Track background */
}

::-webkit-scrollbar-thumb {
    background: var(--stext);
    border-radius: 10px; /* Thumb background */
}

.icon {
    cursor: pointer;
}

.settings-space {
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 272px 272px 272px;
    grid-template-rows: 120px 120px 120px 120px;
    row-gap: 10px;
    column-gap: 10px;
}

.settings-space > div {
    background-color: var(--card);
    color: #000;
    padding: 10px;
    border-radius: 10px;

    height: auto;
    overflow: hidden; 
    overflow-y: scroll;
}

.settings-space .project-update {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    overflow: hidden;
}

.settings-space > div > h3 {
    margin: 0px;
    color: var(--ptext);
    font-size: 18px;
    user-select: none;
}

.project-update h4 {
    margin: 0px;
    color: var(--stext);
    user-select: none;
}

input[type="text"], select {
    background-color: var(--intextbg);
    color: var(--intext);

    margin-left: 10px;
    border-radius: 5px;
    
    border: 1.5px solid var(--divider);
    color: var(--intext);
    background-color: var(--intextbg);
}

input[type="text"]:focus, select:focus {
    outline: none;
    border: var(--acolor) solid 1.5px;
}

.project-update input[type="text"] {
    width: 100px;
    height: 24px;
}

.project-update select {
    width: 100px;
    height: 28px;
}

.project-update .edit {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.settings-space .display-edit {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.display-edit .edit-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.display-edit .edit-content p {
    text-align: center;
}

.display-edit .edit-content button {
    width: 130px;
    height: 30px;
    margin-left: 10px;
}

.settings-space .link-edit {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.settings-space .color-edit {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.colors {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: 75px calc(100% - 99px) 24px;
    grid-row: 30px;
    row-gap: 5px;
    column-gap: 0px;
}

.colors .hex {
    width: 100%;
    height: 24px;
    border-radius: 5px;

    grid-column-start: 1;
    grid-column-end: 2;
}

.colors p {
    margin: 0px;
    padding: 0px;
    height: 24px;
    color: var(--stext);
    text-align: center;
    font-weight: 500;

    grid-column-start: 2;
    grid-column-end: 3;
}

.colors button {
    width: 24px;
    height: 24px;
    padding: 0px;
    grid-column-start: 3;
    grid-column-end: 4;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--error);
}

.colors button:hover {
    background-color: var(--errorhover);
}

.settings-space .mile-edit {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.settings-space .ai-edit {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}