:root {
	--background: #242424;
	--side: #4d4d4d;
	--card: #2E2E2E;
	--ptext: #f5f5f5;
	--stext: #b0b0b0;
	--acolor: #1fbf9a;
	--ahover: #15967a;
	--success: #a3be8c;
	--warning: #d08770;
	--error: #bf616a;
	--divider: #3b3b3b;
	--intextbg: #2a2a2a;
	--intext: #e0e0e0;
}


::-webkit-scrollbar {
    width: 12px; /* For vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); /* Track background */
}

::-webkit-scrollbar-thumb {
    background: var(--stext);
    border-radius: 10px; /* Thumb background */
}

.project-space {
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 272px 272px 272px;
    grid-template-rows: 120px 120px 120px 120px;
    row-gap: 10px;
    column-gap: 10px;
}

.project-space > div {
    background-color: var(--card);
    color: #000;
    padding: 10px;
    border-radius: 10px;

    height: auto;
    overflow: hidden; 
    overflow-y: scroll;
}

.project-space > div > h3 {
    margin: 0px;
    color: var(--ptext);
    font-size: 18px;

}

.add {
    cursor: pointer;
}

.todolist {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: calc(100% - 154px) 123px 24px;
    grid-row: 30px;
    row-gap: 5px;
    column-gap: 0px;
}

.date {
    grid-column-start: 2;
    grid-column-end: 3;
}

.value {
    grid-column-start: 1;
    grid-column-end: 2;
}

input[type="text"], input[type="date"] {
    background-color: var(--intextbg);
    color: var(--intext);

    margin-right: 10px;
    border-radius: 5px;
    
    border: 1.5px solid var(--divider);
    color: var(--intext);
    background-color: var(--intextbg);
}

input[type="text"]:focus, input[type="date"]:focus {
    outline: none;
    border: var(--acolor) solid 1px;
}

.todolist > p {
    background-color: var(--card);
    color: var(--stext);
    border-radius: 10px;
    margin: 0px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-right: 5px;
}


.todolist > button {
    width: 24px;
    height: 24px;
    padding: 0px;
    grid-column-start: 3;
    grid-column-end: 4;
    outline: none;
}